@import "tailwindcss";

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --color-blue: #1a48bc;
  --color-blue-light: #e8edf7;
  --color-blue-light-2: #cedbf6;
  --color-blue-light-3: #5f90fa;
  --color-blue-hover: #1a4dcf;
  --color-gray: #fbfcfd;
  --color-black: #0a0b0f;
  --color-gray-border: rgb(237, 237, 237);
  --color-text-gray: rgb(104, 104, 104);
  --color-text-black: #0a0b0f;
  --color-gray-hover: rgb(244, 244, 244);
  --color-red: rgb(249, 113, 113);
  --color-red-light: #fef2f2;
  --color-green: #10b981;
  --color-green-light: #f0fdf4;
  --color-orange: #f59e0b;
  --color-orange-light: #fffbeb;
  --color-purple: #8b5cf6;
  --color-purple-light: #faf5ff;
  --color-white: #ffffff;
  --color-gray-2: #f0f2f5;
  --font-family: var(--font-inter), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  color: var(--color-black);
  font-weight: 600;
}
p {
  font-family: var(--font-inter);
  color: var(--color-text-gray);
  margin-bottom: 0;
}
